/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,
p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #0381ef;
    border: 1.5px solid #000000;
    color: rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
    hyphens: auto;
}

td {
    background-color: #0099ffb5;
    color: rgb(0, 0, 0);
    border: 1.5px solid #000000;
    padding: 8px;
    text-align: left;
    hyphens: auto;
    font-size: 13px;
}